<% content_for :pretext do %>
	<% if @profile.sections.values.first.present? %>
		<%= truncate(@profile.sections.values.first, {length: 200}) %>
			<% else %>
				You should meet
				<%= @profile.name %>.
					<% end %>
						<% end %>

							<tr>
								<td class="content-wrap">
									<meta itemprop="name" content "View <%= @profile.name %>" />
									<table width="100%" cellpadding="0" cellspacing="0">
										<tr>
											<td class="content-block aligncenter">
												<a class="link-container" href="<%= raw @profile_url %>">
													<%= image_tag @profile.photos.try(:first), class: 'circle-image circle-image--title', alt: @profile.name %>
														<h1>You should meet
															<%= @profile.name %>.</h1>
												</a>
											</td>
										</tr>

										<tr>
											<td class="content-block aligncenter">
												<p>
													<%= people_list(@raters, @profile) %>
												</p>
												<br />
												<p class="aligncenter">
													<% @raters.first(6).each do |rater| %>

														<a class="link-container" href="<%= profile_url(rater) %>">
															<%= image_tag rater.photos.first, alt: rater.name, class: "circle-image circle-image--mini", border: "0 "  %>
														</a>
														&nbsp;

														<% end %>
												</p>
											</td>
										</tr>

										<tr>
											<td class="content-block aligncenter " itemprop="handler " itemscope itemtype="http://schema.org/HttpActionHandler ">
												<a href="<%= profile_url(@profile) %>" class="btn-primary" itemprop="url"> View
													<%= short_profile_name(@profile).possessive %> Page
												</a>
											</td>
										</tr>


										<% if @profile.sections.values.first.present? %>
											<tr>
												<td class="content-block">
													<h2>
														<%= short_profile_name(@profile).possessive %>
															<%= @profile.sections.keys.first %>
													</h2>

													<p>
														<%= truncate(@profile.sections.values.first, { length: 250 }) %>
													</p>

											</tr>
											<% end %>
									</table>
									</td>
							</tr>