<% content_for :table_params, raw('itemprop="action" itemscope itemtype="http://schema.org/ViewAction"') %>
	<%= content_for :pretext, "Finish setting up your page to get started with Apply to Date" %>

		<tr>
			<td class="content-wrap">
				<meta itemprop="name" content="Edit your page" />
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="content-block aligncenter">
							<%= image_tag "email/welcome/animatedlogo.gif", width: "56", alt: "", border: "" %>
								<h1 class="aligncenter">Welcome to Apply to Date!</h1>
								<p class="alignleft">We're excited to help you go on better dates with more
									<%= @preferred_gender %>. Here's a quick guide on how to get started.</p>
						</td>
					</tr>

					<tr>
						<td class="content-block">
							<h2>1. Fill out your page</h2>

							<p>We're excited to help you go on better dates with more
								<%= @preferred_gender %>. Here's a quick guide on how to get started.</p>

							<p>We suggest you:</p>
							<p>
								<ul>
									<li>Link to at least one social profile</li>
									<li>Upload two or more pics of yourself</li>
									<li>Write a little about yourself</li>
								</ul>
							</p>

							<p>If you want help filling out your page, just reply to this email and we'll help.</p>
						</td>
					</tr>

					<tr>
						<td class="content-block aligncenter" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
							<a href="<%= raw @edit_profile_url %>" class="btn-primary" itemprop="url">Fill out your page</a>
						</td>
					</tr>

					<tr>
						<td class="content-block">
							<h2>2. Share your page</h2>

							<a href="<%= raw @profile_url %>" class="url-link aligncenter">
								<%= raw @profile_url %>
							</a>

							<p>Link to your page in:</p>
							<ul>
								<li>Your Tinder bio</li>
								<li>Instagram</li>
								<li>Facebook</li>
								<li>OkCupid</li>
								<li>Twitter</li>
							</ul>
							<p>Be shameless, because people who aren't as confident won't go on as many dates.</p>
							<p>The more who see your page, the more who apply. So get yourself out there – and don't worry, we've already hidden
								your page from Google.</p>
						</td>
					</tr>


					<tr>
						<td class="content-block">
							<h2>3. Watch the applications roll in</h2>
							<%= image_tag "email/welcome/romantic-date.jpg", class: "full-bleed", alt: "" %>

								<p>We'll exchange your preferred contact information with your matches.</p>
						</td>
					</tr>



				</table>
			</td>
		</tr>