<% content_for :table_params, raw('itemprop="action" itemscope itemtype="http://schema.org/ViewAction"') %>
	<% if @application.sections.values.first.present? %>
		<% pretext(truncate(@application.sections.values.first, {length: 200})) %>
			<% else %>
				<% pretext("Respond to #{@gender_name}. Don't worry, saying no won't send #{@gender_name} any notifications.") %>
					<% end %>


						<tr>
							<td class="content-wrap">
								<meta itemprop="name" content="Respond" />
								<table width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<td class="content-block aligncenter">
											<%= image_tag "email/welcome/animatedlogo.gif", width: "56", alt: "", border: "" %>
												<a class="link-container" href="<%= raw @application_url %>">
													<h1>
														<%= @application.name %> asked you out</span>
													</h1>
												</a>
										</td>
									</tr>


									<tr>

										<td class="content-block aligncenter" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
											<a class="btn-primary" itemprop="url" href="<%= raw @application_url %>">Respond to
												<%= truncate(short_profile_name(@application), { length: 175 }) %>
											</a>

											<br />
											<br />

											<p class="muted aligncenter">Declining won't notify <%= @gender_name %>.</p>
										</td>
									</tr>

									<% if @application.sections.values.first.present? %>
										<tr>
											<td class="content-block">
												<h2>
													<%= section_label(@application) %>
												</h2>

												<p>
													<%= truncate(section_value(@application), { length: 250 }) %>
												</p>

										</tr>
										<% end %>

								</table>
								</td>
						</tr>